{% extends "base.html.twig" %}

{% block description %}Valider votre panier avant de procéder au paiment.
{% endblock %}

{% block title %}validation panier
{% endblock %}


{% block h1 %}Validation

{% endblock %}
{% block body %}

<div class="col-6 offset-3 my-5">
	<h2>Votre panier</h2>
	<table class="table">
		<thead>
			<tr>
				<th>NOM</th>
				<th>QTE</th>
				<th>SOUS-TOTAL</th>
			</tr>
		</thead>
		<tbody>

			{% for line in cart %}
			<tr>
				<td><img src="{{ asset('img/product/' ~ line.product.image1) }}"
						alt="image principale {{ line.product.name }}">
					{{ line.product.name }}
				</td>
				<td>{{line.quantity}}</td>
				<td>{{(line.product.price * line.quantity)|number_format(2,',', '')}}
					€</td>

			</tr>
			{% endfor %}


		</tbody>
		<tfoot>
			<tr>
				<th colspan="2">TOTAL</th>
				<th>{{total|number_format(2,',', '')}}
					€</th>

			</tr>
		</tfoot>
	</table>
</div>

<div class="col-6 offset-3 p-4 ">
	<h2>
		Livraison

	</h2>
	{{ form_start(cartValidationForm)}}
	{{ form_row(cartValidationForm.carrier, {
	'label': 'Transporteur'
	})}}


	{{ form_row(cartValidationForm.billing_address, {
	'label': 'Adresse de facturation'
	})}}
	{{ form_row(cartValidationForm.delivery_address, {
	'label': 'Adresse de livraison'
	})}}
	<h2>Ajouter une adresse</h2>
	<div class="py-5">
		<a href="{{ path('user_account_address_add', { 'id' : app.user.id }) }}" class="btn btn-success ">Ajouter une
			adresse</a>

	</div>

	<div class="row text-end">
		<div class="col-12">
			<button type="submit" class="btn btn-success">Payer</button>
		</div>
	</div>
</div>
{{ form_end(cartValidationForm)}}
{% endblock %}