{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<div class="text-center my-4">
    <h1>Mes commandes
        <p>C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.</p>
    </h1>

</div>

{% if orders|length == 0 %}
<hr>
<p class="text-center">
    Vous n'avez pas encore passé de commande sur Ma super boutique.
</p>
{% else %}
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Référence</th>
            <th scope="col">Statut</th>
            <th scope="col">Passée le</th>
            <th scope="col">Produit(s)</th>
            <th scope="col">Adresse de Livraison</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.reference }}</td>
            <td>
                {% if order.paid == 1 %}
                Paiement accepté - Livraison en cours
                {% elseif order.paid == 0 %}
                La commande est annulée

                {% endif %}
            </td>
            <td>{{ order.createdAt|date('d/m/Y') }}</td>
            <td>{{ order.orderDetails|length }}</td>
            <td>{{order.billingAddress}}</td>
            <td>{{ order.getAmount|number_format(2, ',', '.') }} €</td>
            <td class="text-right"><a
                    href="{{ path('user_account_order_details', { 'reference' : order.reference }) }} ">Voir
                    ma
                    commande</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <a class="btn btn-dark" href="{{ path('user_account', {'id':app.user.id}) }}">Retour</a>
</div>

{% endif %}
{% endblock %}