<div class="container-fluid bg-dark text-light">
    <div class="row text-center p-5">
        <div class="col-3">
            <h5>QUELQUES LIENS</h5>
            <hr class="m-3">
            <ul>
             <li><a href="">Accueil</a></li>
             <li><a href="">Femme</a></li>
             <li><a href="">Homme</a></li>
             <li><a href="">Enfant</a></li>
             <li><a href="">Contact</a></li>
             <li><a href="">FAQ</a></li>
            </ul> 
           
        </div>
    
        
        <div class="col-3">
            <h5>COORDONNES</h5>
            <hr class="m-3">
            <p>{{contact_company}}</p> 
            <p>{{contact_address}}</p>
            <p>{{contact_zip ~' '~ contact_city}}</p>
            <p>{{contact_phone}}</p>
            <p>{{contact_email}}</p>
        </div>

        <div class="col-3">
            <h5>RESEAUX SOCIAUX</h5>
            <hr class="m-3">
            <div class="dropdown bg-dark m-3"></div>
            <span class='bi bi-facebook' style='color: blue'></span>
            </div>
        </div>

        <div class="col-3">
            <h5>ASSISTANCE</h5>
            <hr class="m-3">
           
        </div>

        <div class="col-12">
            <p>Copyright &copy; {{ "now"|date("Y") }} - Willy TALOM | Articles extraits du site <a href="https://www.videdressing.com/" target="_blank">videdressing.com</a></p>
            
        </div>

    </div>


</div>