{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/header.css')}}">
{% endblock %}




<nav id="header2" class="navbar navbar-expand-lg bg-secondary navbar-dark ">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}"><img src="{#logo#}" alt=""></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse  " id="navbarNavAltMarkup">

			<div class="navbar-nav">
				<a id="icon2" href="{{path('home')}}" class="nav-link text-dark ">ACCUEIL</a>
				<a id="icon2" href="{{path('products_by_sexe', {'sexe': 'femme'})}}"
					class="nav-link text-dark">FEMME</a>
				<a id="icon2" href="{{path('products_by_sexe', {'sexe': 'homme'})}}"
					class="nav-link text-dark ">HOMME</a>
				<a id="icon2" href="{{path('products_by_sexe', {'sexe': 'enfant'})}}"
					class="nav-link text-dark ">ENFANT</a>
				<a id="icon2" href="{{path('contact')}}" class="nav-link text-dark ">CONTACT</a>
				<a id="icon2" href="{{path('favoris')}}" class="nav-link text-dark ">
					<i class="bi bi-suit-heart-fill"></i>
					{% if app.session.get('favoris') is not empty %}
					<span>{{render(controller('App\\Controller\\FavorisController::getNbFavoris'))}} </span>
					{% endif %}
				</a>
				<a id="icon2" href="{{path('cart')}}" class="nav-link text-dark ">
					{#panier#}
					<i class="bi bi-cart4"></i>
					{% if app.session.get('cart') is not empty %}
					<span class="badge rounded-pill text-bg-secondary">
						{{ render(controller('App\\Controller\\CartController::getNbProducts'))}}
					</span>
					{% endif %}
				</a>
				<a id="icon2" href="{{path('user_account')}}" class="nav-link text-dark ">
					<i class="bi bi-person"></i>
				</a>
				{% if app.user %}
				<a id="icon2" class="nav-link text-dark " href="{{ path('logout') }}">DECONNEXION</a>
				{% else %}
				<a id="icon2" class="nav-link text-dark " href="{{ path('login') }}">CONNEXION</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN')%}
				<a id="icon2" class="nav-link text-dark " href="{{ path('admin') }}">ADMIN</a>
				{% endif %}
			</div>
		</div>

	</div>
</nav>