{% extends 'base.html.twig' %}

{% block title %}femme{% endblock %}

{% block h1 %}Produits pour Femmes{% endblock %}

{% block body %}

<div class="row">

   
    {% for product in products %}
    <div class="col-3">
        <div class="card">
          <div class="card-img-top">
            <img src="https://res.cloudinary.com/videdressing/image/upload/t_p_470/v1633010561/products/12738386-4.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="" class=" font-weight-bold text-dark"> {{ product.name }}</a>
            </h4>
            <h6 id="text-des">{{ product.description|u.truncate(70,'...', false) }}</h6>
            <h5 class="card-price small ">
              <i class="text-danger">
                <s class="text-secondary">{{product.price}} €</s> {{product.reduction}} €</i>
            </h5>
            <div>
                <a href="{{ path('femme_show', {'slug': product.slug}) }}" class="card-link"><i class="btn btn-success">Détails</i></a>
            </div>
          </div>
        </div>
    </div>
    
     
    {% endfor %}    
    
    </div> 



{% endblock %}
