
{% extends 'base.html.twig' %}

{% block description %}{{ product.description|u.truncate(70,'...', false) }}{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block h1 %}{{ product.name }}{% endblock %}

{% block body %}

<div class="col-6">
    <div class="card">
      <div class="card-img-top">
        <img src="https://res.cloudinary.com/videdressing/image/upload/t_p_470/v1633010561/products/12738386-4.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">
          <a href="" class=" font-weight-bold text-dark"> {{ product.name }}</a>
        </h4>
        <h6 id="text-des">{{ product.description|u.truncate(200,'...', false) }}</h6>
        <h5 class="card-price small ">
          <i class="text-danger">
            <s class="text-secondary">{{product.price}} €</s> {{product.reduction}} €</i>
        </h5>
        <div>
            <a href="#" class="card-link"><i class="btn btn-success">Acheter</i></a>
        </div>
      </div>
    </div>
</div>
   
    {% endblock %}