{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="title">
    <h1>Réinitialisation de mot de passe</h1>
</div>

<div class="container my-4">

    <div class="row">

        {{ form_start(createPasswordForm) }}

        {{ form_row(createPasswordForm.plainPassword.first) }}

        {{ form_row(createPasswordForm.plainPassword.second) }}






        <div class="row">
            <div class="col-12 text-end my-3">
                <a href="{{ path('login')}}" class="btn btn-outline-danger me-3">Annuler</a>
                <button class="btn btn-success"> Envoyer </button>
            </div>
        </div>

        {{ form_end(createPasswordForm) }}


    </div>

</div>

{% endblock %}