{% extends 'base.html.twig' %}

{% block description %}Mentions légales {{ contact_company }}{% endblock %}

{% block title %}mentions légales{% endblock %}

{% block h1 %}{% endblock %}

{% block body %}

<div></div>
<div class="col-10 offset-1">
	<p>
	<h2 class="mt-5 mb-3">Mentions légales {{ contact_company }}</h2>
	L'entreprise {{ contact_company }} est une SARL au capital variable de 100 000 € située à {{ contact_city }},
	enregistrée au RCS de {{ contact_city }} ({{ contact_country }})
	</p>
	<p>
	<h2 class="mt-5 mb-3">Présentation du site</h2>
	En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est
	précisé aux utilisateurs du site {{ contact_website }} l’identité des différents intervenants dans le cadre de
	sa réalisation et de son suivi :
	</p>
	<p>
	<h3 class="my-3">Éditeur et propriétaire</h3>

	{{ contact_company }}<br>
	SARL au capital variable de 100 000 €<br>
	SIRET : {{ contact_siret }}<br>
	APE : 1234A<br>
	Adresse : {{ contact_address ~ ' - ' ~ contact_city ~ ' ' ~ contact_zip ~ ' - ' ~ contact_country }}
	</p>
	<p>
	<h3 class="my-3">Directeur de la publication</h3>

	Willy TALOM<br>
	willytalom@gmail.com<br>
	{{ contact_phone }}
	</p>
	<p>
	<h3 class="my-3">Hébergeur</h3>

	o2switch<br>
	SAS au capital de 100 000€<br>
	Opérateur Télécom déclaré ARCEP - 09/2989 – AS50474<br>
	Siret : 510 909 807 00024<br>
	RCS Clermont Ferrand<br>
	+33 (0) 4 44 44 60 40<br>
	<a href="https://www.o2switch.fr/" target="_blank">www.o2switch.fr</a>
	</p>
</div>




{% endblock %}