{% extends "baseAdmin.html.twig" %}

{% block title %}
	{{ app.request.attributes.get('_route') == 'create_sexe' ? 'création' : 'modification' }}
	category
{% endblock %}

{% block body %}

	<h1 class="mb-5">{{ app.request.attributes.get('_route') == 'create_sexe' ? 'Créer' : 'Modifier' }}
		un sexe</h1>


	{{ form_start(sexeForm) }}

	<div class="row">
		<div class="col-6">

			{{ form_label(sexeForm.name, 'Nom') }}
			{{ form_errors(sexeForm.name) }}
			{{ form_widget(sexeForm.name, {
                'attr': {
                    'placeholder': 'Ex.: Homme'
                }
            }) }}
			{{ form_help(sexeForm.name) }}
		</div>

	</div>

	<div class="row">
		<div class="col-12 text-end my-3">
			<a href="{{ path('admin_sexe')}}" class="btn btn-outline-danger me-3">Annuler</a>
			<button class="btn btn-success">{{ app.request.attributes.get('_route') == 'create_sexe' ? 'Créer' : 'Modifier' }}
			</button>
		</div>
	</div>


	{{ form_end(sexeForm) }}

{% endblock %}
