{% extends 'base.html.twig' %}

{% block title %}Vos favoris {% endblock %}

{% block body %}


<h2 class=" py-5 text-center">Vos favoris</h2>

<table class="table table-hover table-sm align-middle">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Réference</th>
            <th>reductions (%)</th>
            <th>Prix Soldé</th>
            <th>Catégorie</th>
            <th>Marques</th>
            <th>Sexe</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for favoris in products|reverse %}
        <tr>
            <td>{{ loop.revindex }}</td>
            <td class="text-start"><img src="{#{{ asset('img/product/' ~ favoris.name.image1) }}#}"
                    alt="{# image principale du produit {{ favoris.name }}#}" class="pe-3">{{ favoris.name }}
            </td>
            <td>{{ favoris.price|number_format(2, ',', ' ') }}
                €</td>
            <td>{{ favoris.reference }}</td>
            <td>{{ favoris.reduction }}</td>
            <td>{{ favoris.priceSolde|number_format(2, ',', ' ') }}
                €</td>
            <td>{{ favoris.category.name }}</td>
            <td>{{ favoris.brand.name }}</td>
            <td>{{ favoris.sexe.name }}</td>
            <td>
                {# <a href="{{ path('update_product', {'id': product.id}) }}">
                    <i class="bi bi-pencil-square text-primary"></i>
                </a>
                <a href="{{ path('delete_product', {'id': product.id}) }}">
                    <i class="bi bi-trash3 text-danger"></i>
                </a> #}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}