<h1>Bonjour {{user.firstName}}</h1>

<h2>Récapitulatif de votre commande {{ contact_company }}</h2>

<h3>Détails de la commande {{ order.reference }}</h3>

<table>
    <thead>
        <tr>
            <th>Désignation</th>
            <th>Quantité</th>
        </tr>
    </thead>
    <tbody>
        {% for orderDetail in order.orderDetails %}
        <tr>
            <td><img style="margin: 0; border: 0; padding: 0; display: block;"
                    src="{{email.image('@images/product/' ~ orderDetail.productId.image1) }}" width="120" height="120"
                    alt="image principale {{ orderDetail.productId.image1 }}"> #}
                {{ orderDetail.productId.name }}
            </td>
            <td>{{ orderDetail.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<ul>
    <li>Référence : {{ order.reference }}</li>
    <li>Montant : {{ order.amount|number_format(2, ',', '.') }} €</li>
    <li>Transporteur : {{ order.carrier.name }}</li>
    <li>Adresse de facturation :
        <ul>
            <li>{{ order.user.firstName ~ ' ' ~ order.user.lastName|upper }}</li>
            <li>{{ order.billingAddress.address }}</li>
            {{ order.billingAddress.additional != null ? '<li>' ~ order.billingAddress.additional ~ '</li>' : null }}
            <li>{{ order.billingAddress.zip ~ ' ' ~ order.billingAddress.city ~ ' ' ~ order.billingAddress.country }}
            </li>
        </ul>
    </li>
    <li>Adresse de livraison :
        <ul>
            <li>{{ order.user.firstName ~ ' ' ~ order.user.lastName|upper }}</li>
            <li>{{ order.deliveryAddress.address }}</li>
            {{ order.deliveryAddress.additional != null ? '<li>' ~ order.deliveryAddress.additional ~ '</li>' : null }}
            <li>{{ order.deliveryAddress.zip ~ ' ' ~ order.deliveryAddress.city ~ ' ' ~ order.deliveryAddress.country}}
            </li>
        </ul>
    </li>
</ul>


<img src="{{ email.image('@images/logo/logo1.png') }}" alt="logo {{ contact_company }}">